body{
    background-color: lightgray;
    margin: 0;
}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    margin:0;
    text-align: center;
}
.post{
    background: white;
    margin: 15px;
    border-radius: 5px;
}
.post img{
    width: 100%;
    
}
.post h2, .post p{
    padding: 5px;
}
.titulo{
    display:flex;
}

.titulo-left{
    width: 70%;
    text-align: left;
    padding: 5px;
    display: flex;

}
.subtit-left{
    width: 5%;
    text-align: left;
    padding: 10px
    
}
.subtit-right{
    width: 60%;
}
.subtit-right h2{
    font-size: 20px;
    margin: 0;
}
.subtit-right p{
    margin: 0;
}
.titulo-right{
    width: 30%;
    text-align: right;
    padding: 10px;
}
.container{
    width: 600px;
    margin: auto;
}
.iconos-right{
    width: 30%;
    text-align: right;
    padding: 10px;
}
.iconos-left{
    width: 70%;
    padding: 10px;
    
}